body {
    overflow-x: hidden;
}

.landing-img {
    width: 100%; 
    height: 100vh; 
}

.landing-container {
    position: relative; /* Creates a positioning context for the text */
    width: 100%; /* Ensures the container is responsive */
    max-width: 100%; /* Optional: limits the maximum width */
    margin: 0 auto; /* Centers the container horizontally */
    
}

.landing-text {
    position: absolute; 
    top: 5%; 
    left: 10%;
    margin-top: 3rem;
}

.landing-text h1{
    font-family: 'Roboto';
    font-weight: 200;
}

.landing-text p {
    color: rgb(0, 0, 0);
    text-shadow: none;
    font-family: 'Roboto';
    font-weight: 600;
}

.button-container {
    display: flex; 
    gap: 20px; 
}

.button-container .btn {
    background-color: white;
    border: 1px;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 1.1rem;
    height: 2.2rem;
    transition: background-color 0.4s ease;
}

.button-container .btn1 {
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.1rem;
    height: 2.2rem;
    transition: background-color 0.4s ease;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.button-container .btn:hover {
    background-color: rgb(201, 201, 201);
    border: 1px;
    cursor: pointer;
}

.button-container .btn1:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    color: black;
    text-shadow: none;
    font-weight: 200;
}

.audi-styles h2{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 3rem;
}

.audi-styles ul {
    display: flex; 
    justify-content: space-between; 
    padding: 2rem; 
}

.audi-styles li {
    flex: 1; 
    display: flex; 
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
}

.audi-styles img {
    margin-left: 3rem;
    height: 14rem;
    width: 24rem;
    max-width: 100%;
    border-radius: .7rem;
    transition: transform 0.3s ease-in-out;
}

.audi-styles img:hover {
    transform: scale(1.04);
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.2);
}

.audi-styles p{
    margin-top: 2rem;
    text-align: center;
}

#inside, #carplay, #comfort {
    margin-top: 5rem;
    display: flex;
}

#inside, #comfort img {
    height: 22rem;
    width: auto;
    margin-left: 3rem;
}

.title-text {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}

.title-text h2 {
    font-size: 3rem;
    font-family: 'Roboto';
    font-weight: 600;
}

.title-text p {
    font-size: 2rem;
    font-family: 'Roboto';
    font-weight: 200;
}

#carplay {
    margin-top: 5rem;
    display: flex;
    background-color: rgb(234, 234, 234);
    padding: 5rem;
}

#carplay img {
    height: 22rem;
    width: auto;
    margin-right: 2rem;
}

.inspired {
    margin-top: 5rem;
    text-align: center;
}

.inspired h1 {
    text-decoration: underline;
    padding: 1rem;
    font-family: 'Roboto';
    font-weight: 200;
    text-underline-offset: 1rem; 
    text-decoration-thickness: 1px;
    letter-spacing: .5rem;
}

.inspired #sub {
    color: grey;
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: .2rem;
}

#ideas {
    display: flex;
    justify-content: center;
}
#the-ideas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#the-ideas li {
    margin: 1.4rem;
}

.audi-container {
    position: relative;
    overflow: hidden;
    width: 14rem; 
    height: 21rem;
}

.audi-container img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.audi-container img:hover {
    transform: scale(1.1);
}

.audi-container .image-text {
    position: absolute;
    bottom: 10px; 
    left: 75%;
    transform: translateX(-50%);
    color: white; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: .1rem;
    padding: 1px;
    border-radius: 1px;
}


/* Media Queries for phones */

@media only screen and (max-width: 432px) {
    .landing-img {
        width: 100%;
        max-width: 25rem;
        height: 100%;
    }
    .landing-text {
        position: absolute; 
        top: 1%; 
        left: 5%; 
        color: white; 
        font-size: .5em; 
        font-family: 'Roboto';
        font-weight: 200;
    }

    .landing-text p {
        color: white;
        font-weight: 100;
    }
    
    .button-container {
        margin-top: 9rem;
        padding-inline: 4rem;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        width: 80%; /* Example */
        max-width: 12rem;
    }

    .button-container .btn {
        background-color: rgb(5, 5, 5);
        border: 1px;
        cursor: pointer;
        font-family: 'Roboto';
        font-weight: 200;
        font-size: 1.1rem;
        height: 2.2rem;
        transition: background-color 0.4s ease;
        color: white;
    }


    .button-container .btn1 {
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        font-family: 'Roboto';
        font-weight: 200;
        font-size: 1.1rem;
        height: 2.2rem;
        transition: background-color 0.4s ease;
        color: black;
        border: 1px solid black;
        text-shadow: none;
    }

    .audi-styles {
        margin-top: 10rem;
        margin-left: -2rem;
    }

    .audi-styles h2 {
        font-size: 2rem;
    }
    .audi-styles img {
        margin-left: 1rem;
        height: 5rem;
        width: 13rem;
        max-width: 100%;
        border-radius: .7rem;
        transition: transform 0.3s ease-in-out;
    }
    .audi-styles p{
        margin-top: .5rem;
        text-align: center;
        margin-left: 2rem;
    }

    #inside, #carplay, #comfort {
        display: flex;
        flex-direction: column;
        padding: 0rem;
    }

    #inside {
        height: 5rem;
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .title-text {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }
    .title-text h2{
        font-size: 1.5rem;
    }
    .title-text p {
        font-size: 1rem;
    }

    #carplay {
        margin-top: 20rem;
        padding-bottom: 4rem;
    }

    #carplay h2, #carplay p, #comfort h2, #comfort p{
        padding: 1rem;
        padding-top: 0rem;
    }

    #carplay img {
        height: 11rem;
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #comfort img {
        height: 13rem;
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .inspired h1 {
        font-size: 2rem;
    }
    .inspired p {
        font-size: 1rem;
        margin-bottom: 4rem;
    }
    #the-ideas {
        display: flex;
    }
    
    .audi-container {
        text-align: center;
    }
    
    .audi-container img {
        width: 14rem; /* Make images responsive */
        height: auto;
    }
    
  }