.the-footer {
    background-color: black;
    height: 3rem;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 300;
}

.the-footer p {
    margin-left: 2rem;
}